// Cores monocromáticas baseadas na cor matiz.
$color-matiz: #B0D2E1;
$color-mono-1: #2F5261;
$color-mono-2: #87A2AD;
$color-mono-3: #4C5B61;
$color-mono-4: #6EC2E6;

// Cores neutras

$white-color: #FEFEFE;
$black-color: #151617;

// Definição de cores utilizados nos componentes
$button-color: $color-mono-4;
